
body, #root {
    width: 100vw;
    height: 100vh;
}

.container-app {
    max-width: 600px;
}

.weather-img {
    width: 150px;
}

.weather-info {
    font-size: 22px;
}

.degrees {
    font-size: 50px;
}

.max-min {
    font-size: 10pt;
}

.celsius {
    font-weight: bolder;
}

.weather-card {
    width: 120px;
    height: 200px;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: black;
}



.weather-card > img {
    width: 80px;
    height: 64px;
}

